__pycache__/
*.pyc
.venv/
node_modules/
dist/
build/
.DS_Store
backend/data/
.data/
.toml
.env
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
.idea/
.vscode/
*.egg-info/
*.egg
*.log
*.tmp
*.cache
*.cover
.coverage
.coverage.*
./docs/_build/
*.pdf
*.docx
*.xlsx
*.pptx
!docs/*.pdf
!docs/*.docx
!docs/*.xlsx
!docs/*.pptx
*.zip
*.tar.gz
*yarn.lock
